*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.125em;
    color: #777;
    background: #777;
    text-align: center;
}

h1 {
    font-size: 1em;
    font-weight: normal;
}

.row {
    display: flex;
}

.col + .col {
    margin-left: 15px;
}

.container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

header, nav, footer {    
    background-color:#ebebeb;
}

.header__title {
    height: 70px;
    padding: 20px 0;
}

.nav__title {
    margin-bottom: 1rem;
    padding: 20px 0;
    height: 70px;

}

.hero {
    background-color:#ebebeb;
    width: 50%;
    padding: 1rem 0;

}

.sidebar {
    background-color:#ebebeb;
    width: 50%;
}

article {
    background-color: #777;
    padding: .5rem 1rem 1rem 1rem;
    margin: .5rem;
}

.hero__title--light {
    color:#ebebeb;
}

.hero__text {
    background-color:#ebebeb;
    height: 60px;
    padding: 1.25rem 0;    
}

.footer__title {
    margin-top: 1rem;
    height: 70px;
    padding: 1.25rem 0;
}